h1{
color:aqua
}
*{
border:solid
 }

 .header{
     background-color:#B47380;
     display: flex;
     justify-content:space-between
 }

 .grid{
     display:flex;
     flex-wrap:wrap;
     justify-content:space-evenly;
     background-color:#7DF8FF
     }

 .social{
     display:flex;
     justify-content:flex-end;
     background-color: #EF7840;
 }

 body{
background-color:#808080;
 }